apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}  # Usando a vari치vel appName do values.yaml
  template:
    metadata:
      name: {{ .Values.appName }}-pod  # Usando a vari치vel appName do values.yaml
      labels:
        app: {{ .Values.appName }}  # Usando a vari치vel appName do values.yaml
    spec:
      containers:
        - name: {{ .Values.appName }}-container  # Usando a vari치vel appName do values.yaml
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: {{ .Values.healthcheck.livenessProbe }}
              port: 5000
            initialDelaySeconds: {{ .Values.healthcheck.initialDelaySeconds }}
          readinessProbe:
            httpGet:
              path: {{ .Values.healthcheck.readinessProbe }}
              port: 5000
            initialDelaySeconds: {{ .Values.healthcheck.initialDelaySeconds }}